/*@media (max-width: 768px) {*/
  /*.nav-justified > li {*/
    /*display: table-cell;*/
    /*width: 1%;*/
  /*}*/
  /*.nav-justified > li > a  {*/
    /*border-bottom: 1px solid #ddd !important;*/
    /*border-radius: 4px 4px 0 0 !important;*/
    /*margin-bottom: 0 !important;*/
  /*}*/
/*}*/


.collection {
  overflow: visible;
  border: none;
}

.collection-item {
  border: none;
  padding-left: 0 !important;
  padding-right: 0;
  background-color: transparent;
}


.zero-padding {
  padding-left: 0;
  padding-right: 0;
}
