/*@media (max-width: 768px) {*/
  /*.nav-justified > li {*/
    /*display: table-cell;*/
    /*width: 1%;*/
  /*}*/
  /*.nav-justified > li > a  {*/
    /*border-bottom: 1px solid #ddd !important;*/
    /*border-radius: 4px 4px 0 0 !important;*/
    /*margin-bottom: 0 !important;*/
  /*}*/
/*}*/



.mytabs {
  display: inline;
  width: 100%;
  text-align: center;
  background-color: #009688;


  position: relative;
  overflow-x: auto;
  overflow-y: hidden;
  height: 48px;
  margin: 0 auto;
  white-space: nowrap;
}

.tabitem {
  display: inline-block;
  width: 33%;
  padding: .75rem 0;
  margin: 0;
  text-decoration: none;
  color: #333;
  text-align: center;
  background-color: #009688;
  font-weight: bold;


}
.tablink {
  color: white;
}
.two:hover ~ hr {
  margin-left: 33%;
}

.three:hover ~ hr {
  margin-left: 66%;
}


hr {
  height: .25rem;
  width: 33%;
  margin: 0;
  background: white;
  border: 20px;
  border-color: #009688;
  transition: .3s ease-in-out;
}
