


<div class="row">
  <div class="col-12">
    <router-outlet></router-outlet>
  </div>
</div>


<!--MODAL-->
<div id="modal"
     class="modal"
     materialize="modal"
     [materializeParams]="[{dismissible: true}]"
     [materializeActions]="modalActions"

>


  <!--COLLABORATION-->
  <ng-container *ngIf="headerButton === 'collaboration'">
    <div class="modal-content">
      <h5>Collaborate Group with others</h5>
      <br>
      <ul class="collection black-text with-header" >

        <li
          *ngFor="let user of group.users; let i=index"
          class="collection-item"
        >
          <ng-container *ngIf="isCurrentUser(user)">
            {{user.name}} (You)
          </ng-container>
        </li>

        <li
          *ngFor="let user of group.users; let i=index"
          class="collection-item"
        >

          <ng-container *ngIf="!isCurrentUser(user)">

            {{user.name}} <br>
            ({{user.email}})

            <!--Dropdown Trigger-->
            <a materialize="dropdown"
               [materializeParams]="[{constrainWidth: false, belowOrigin: false, stopPropagation: true}]"
               class='dropdown-button secondary-content'
               [attr.data-activates]= "i">
              <i class="material-icons">more_vert</i>
            </a>


            <!-- Dropdown Structure -->
            <ul [id]="i" class='dropdown-content' style="z-index: 4">
              <li><a (click)="onClickDeleteUser(user)">Remove from group</a></li>
            </ul>
          </ng-container>
        </li>
      </ul>




      <br>


      <form #f="ngForm" class="row">
        <!--NEW MEMBER-->

        <div class="col s9">

          <input type="email"
                 class="input-field"
                 placeholder="Enter email address"
                 name="email"
                 email
                 ngModel
          >
        </div>

        <div class="col s3 right-align">
          <button
            class="btn btn-small waves-effect waves-light green"
            type="submit"
            (click)="onClickAddUser(f)"
            [disabled]="f.value.email === '' || f.invalid || group.userEmailExists(f.value.email) || group.isCreatorsEmail(f.value.email) "
          >
            <i class="material-icons">person_add</i>
          </button>
        </div>
      </form>

      <br>

      <div class="row" style="margin-bottom: 0">

        <div class="col s6 grey-text">
          Group Owner
          <b>
            <span *ngIf="!isCurrentUser(group.creator)">{{group.creator.name}} ({{group.creator.email}})</span>
            <span *ngIf="isCurrentUser(group.creator)">You</span>
          </b>

        </div>

        <div class="col s6 right-align">
          <button
            type="button"
            class="btn waves-effect waves-light btn-flat"
            (click)="closeModal()"
          >Close</button>
        </div>

      </div>
    </div>
  </ng-container>

  <!--EDIT NAME-->
  <ng-container *ngIf="headerButton === 'edit-name'">
    <div class="modal-content">
      <h5>Edit Group Name</h5>
      <br>

      <div class="row">
        <div class="col s12">
          <form #f1="ngForm">
            <div class="input-field">
              <input autofocus
                 id="name"
                     type="text" name="memberName"
                      [(ngModel)]="nameToUpdate">
            </div>
          </form>

        </div>
      </div>
    </div>
    <div class="modal-footer">

      <button
        type="button"
        class="btn waves-effect waves-light btn-flat teal-text"
        (click)="closeModal()"
      >close</button>

      <button
        type="submit"
        class="btn waves-effect waves-light btn-flat teal-text"
        (click)="onClickUpdateGroup(f1)"
        [disabled]="nameToUpdate === ''"
      >Update</button>


    </div>
  </ng-container>

  <!--DELETE GROUP-->
  <ng-container *ngIf="headerButton === 'delete-group'">


    <div class="modal-content">
      <h4>Delete Group</h4>
      <p>{{messagesDict.deleteGroup}}</p>
    </div>
    <div class="modal-footer">
      <a class="waves-effect waves-green btn btn-flat" (click)="closeModal()">
        close
      </a>
      <a class="modal-action modal-close waves-effect waves-green btn red" (click)="onClickDeleteGroup()">
        Delete
      </a>
    </div>



  </ng-container>

  <!--DELETE GROUP-->
  <ng-container *ngIf="headerButton === 'leave-group'">


    <div class="modal-content">
      <h4>Delete Group</h4>
      <p>{{messagesDict.leaveGroup}}</p>
    </div>
    <div class="modal-footer">
      <a class="waves-effect waves-green btn btn-flat" (click)="closeModal()">
        close
      </a>
      <a class="modal-action modal-close waves-effect waves-green btn red" (click)="onClickLeaveGroup()">
        Leave
      </a>
    </div>



  </ng-container>


  <!--EDIT MEMBERS-->
  <ng-container *ngIf="headerButton === 'edit-member'">


    <div class="modal-content">
      <app-edit-members></app-edit-members>
    </div>



    <div class="modal-footer">
        <button
          type="button"
          class="btn waves-effect waves-light btn-flat"
          (click)="closeModal()"
        >Close</button>
    </div>
  </ng-container>










</div>
