.backbtnn {
  float: left;
  padding: 15px;
  display: inline-block;
  color: #d1cdcd;
  font-size: 15px;
}


.brand-logo-custom {
  /*position: absolute;*/
  color: #fff;
  display: inline-block;
  font-size: 1.5rem;
  padding: 0;
}
