<nav class="nav-extended teal">
  <div class="nav-wrapper">
    <a class="brand-logo center" style="font-size: big">{{getCurrTitle()}}</a>



    <a
      [routerLink]="backPath()"
      *ngIf="router.url.split('/').length >= 4"
       class="button-collapse"
    >
      <i class="material-icons">arrow_back</i>
    </a>

    <ul class="right hide-on-sm-and-down">
      <!--<li><a routerLink="/signup" *ngIf="!authService.isAuthenticated()">Register</a></li>-->
      <!--<li ><a  routerLink="/signin" *ngIf="!authService.isAuthenticated()">Login</a></li>-->
      <li><a (click)="onClickLogout()" *ngIf="authService.isAuthenticated()" routerLink="">Logout</a></li>
    </ul>
  </div>


    <div class="nav-content " *ngIf="showGroupTabs">
      <div class="row">
        <div class="col s12">
          <ul class="tabs tabs-transparent" materialize="tabs">
            <li class="tab col s4"><a  [ngClass]="dashboardTab()" [routerLink]="navService.groupDashboardUri(groupId)" routerLinkActive="active">Dashboard</a></li>
            <li class="tab col s4"><a [ngClass]="transactionsTab()" [routerLink]="navService.groupTransactionsUri(groupId)" routerLinkActive="active">Transactions</a></li>
            <li class="tab col s4"><a [ngClass]="settingsTab()" [routerLink]="navService.groupSettingsUri(groupId)" routerLinkActive="active">Settings</a></li>
          </ul>
        </div>
      </div>
    </div>

    <div class="nav-content" *ngIf="showAuthTabs">
      <div class="row">
        <div class="col s12">
          <ul class="tabs tabs-transparent" materialize="tabs">
            <li class="tab col s6"><a routerLink="/signin" routerLinkActive="active">Log In</a></li>
            <li class="tab col s6"><a routerLink="/signup" routerLinkActive="active">New User</a></li>
          </ul>
        </div>
      </div>
    </div>

</nav>
