<nav class="nav-extended teal">
  <div class="nav-wrapper">

    <ul class="left hide-on-sm-and-down">

      <li>
        <a [routerLink]="backPath()"
          *ngIf="router.url.split('/').length >= 4"
        >
          <i class="material-icons">arrow_back</i>
        </a>
      </li>

      <li>
        <a *ngIf="stateName === 'groupList'"
           materialize="sideNav"
           [materializeParams]="[{edge:'left', closeOnClick: true, menuWidth: 300}]"
           data-activates="slide-out"
        >
          <i class="material-icons">menu</i>
        </a>
      </li>
      <li style="color: transparent"> tttt</li>
      <li><a class="brand-logo-custom" >{{getCurrTitle()}}</a></li>
    </ul>


    <ul class="right hide-on-sm-and-down" *ngIf="stateName === 'dashboard' || stateName === 'transactions'">
      <li>
        <a [routerLink]="" (click)="onClickCollab()">
          <i class="material-icons">person_add</i>
        </a>
      </li>

      <li>
        <a [routerLink]="navService.groupSettingsUri(groupId)">
          <i class="material-icons">info_outline</i>
        </a>
      </li>
    </ul>

    <ul
      class="right hide-on-sm-and-down"
      *ngIf="stateName === 'transaction'"
    >
      <li>
        <a
          disabled="true"
          [routerLink]="" (click)="onClickTransactionSave()"
        >
          SAVE
        </a>
      </li>
    </ul>

  </div>

  <!--GROUP TABS-->
  <div class="nav-content " *ngIf="showGroupTabs">
    <div class="row">
      <div class="col s12">
        <ul class="tabs tabs-transparent" materialize="tabs">
          <li class="tab col s6"><a  [ngClass]="dashboardTab()" [routerLink]="navService.groupDashboardUri(groupId)" routerLinkActive="active">Dashboard</a></li>
          <li class="tab col s6"><a [ngClass]="transactionsTab()" [routerLink]="navService.groupTransactionsUri(groupId)" routerLinkActive="active">Transactions</a></li>
          <!--<li class="tab col s4"><a [ngClass]="settingsTab()" [routerLink]="navService.groupSettingsUri(groupId)" routerLinkActive="active">Settings</a></li>-->
        </ul>
      </div>
    </div>
  </div>

  <!--AUTH TABS-->
  <div class="nav-content" *ngIf="showAuthTabs">
    <div class="row">
      <div class="col s12">
        <ul class="tabs tabs-transparent" materialize="tabs">
          <li class="tab col s6"><a routerLink="/signin" routerLinkActive="active">Log In</a></li>
          <li class="tab col s6"><a routerLink="/signup" routerLinkActive="active">New User</a></li>
        </ul>
      </div>
    </div>
  </div>

  <div
    class="nav-content"
    *ngIf="stateName === 'groupList'"
  >
    <div class="row">
      <div class="col s12 left-align">
        <h5>Groups</h5>
      </div>

    </div>
  </div>
</nav>

<!--SIDE NAV-->
<ul id="slide-out" class="side-nav" *ngIf="currentUser">
  <li>
    <div class="user-view" style="background-color: teal">

      <!--<div class="background">-->
      <!--<img src="images/office.jpg">-->
      <!--</div>-->
      <a ><img class="circle" src="assets/images/user.png"></a>
      <a ><span class="white-text name">{{currentUser().name}}</span></a>
      <a ><span class="white-text email">{{currentUser().email}}</span></a>
    </div>
  </li>
  <li><a ><i class="material-icons">settings</i>Settings (not working)</a></li>
  <!--<li><a href="#!">Second Link</a></li>-->
  <li><div class="divider"></div></li>
  <li><a class="subheader"> </a></li>
  <!--<li><a class="waves-effect" href="#!">Third Link With Waves</a></li>-->
  <li><a (click)="onClickLogout()" ><i class="material-icons">power_settings_new</i>Logout</a></li>
</ul>

