<nav class="nav-extended teal">
  <div class="nav-wrapper">

    <ul class="left hide-on-sm-and-down">

      <li>
        <a
           (click)="backPath()"
          *ngIf="router.url.split('/').length >= 4"
        >
          <i class="material-icons">arrow_back</i>
        </a>
      </li>

      <li>
        <a *ngIf="routeName === 'groups'"
           materialize="sideNav"
           [materializeParams]="[{edge:'left', closeOnClick: true, menuWidth: 300}]"
           data-activates="slide-out"
        >
          <i class="material-icons">menu</i>
        </a>
      </li>
      <li style="color: transparent"> tttt</li>
      <li><a class="brand-logo-custom" >{{getCurrTitle()}}</a></li>
    </ul>


    <ul class="right hide-on-sm-and-down" *ngIf="routeName === 'dashboard' || routeName === 'transactions'">

      <!--EDIT MEMBERS MODAL-->
      <!--<li>-->
        <!--<a [routerLink]="" (click)="onClickHeaderButton('edit-member')">-->
          <!--<i class="material-icons">person_add</i>-->
        <!--</a>-->
      <!--</li>-->

      <li>
        <a [routerLink]="" (click)="onClickUsersButton()">
          <i class="material-icons">person_add</i>
        </a>
      </li>

      <!--<li>-->
        <!--<a [routerLink]="navService.groupSettingsUri(groupId)">-->
          <!--<i class="material-icons">info_outline</i>-->
        <!--</a>-->
      <!--</li>-->

      <li>
        <!-- Dropdown Trigger -->
        <a materialize="dropdown"
           [materializeParams]="[{constrainWidth: false, belowOrigin: true, stopPropagation: true}]"
           class='dropdown-button'
           data-activates= "groupEdit"
        >
          <i class="material-icons">more_vert</i>
        </a>

        <!-- Dropdown Structure -->
        <ul id="groupEdit" class='dropdown-content' style="z-index: 4">
          <li><a (click)="onClickHeaderButton('edit-name')">Edit Name</a></li>
          <li class="divider"></li>
          <li><a (click)="onClickHeaderButton('leave-group')">Leave Group</a></li>
        </ul>

      </li>


    </ul>

    <ul
      class="right hide-on-sm-and-down"
      *ngIf="routeName === 'transaction-edit'"
    >
      <li>
        <a

          [ngClass]="{'disabled-color': saveBtnDisabled}"
          [routerLink]="" (click)="onClickTransactionSave()"
        >
          <!--<i class="material-icons">done</i>-->
          SAVE
        </a>
      </li>

      <li>
        <!-- Dropdown Trigger -->
        <a materialize="dropdown"
           [materializeParams]="[{constrainWidth: false, belowOrigin: true, stopPropagation: true}]"
           class='dropdown-button'
           data-activates= "transEdit"
        >
          <i class="material-icons">more_vert</i>
        </a>

        <!-- Dropdown Structure -->
        <ul id="transEdit" class='dropdown-content' style="z-index: 4">
          <li><a (click)="onClickHeaderButton('delete-transaction')">Delete Transaction</a></li>
        </ul>

      </li>
    </ul>


  </div>

  <!--GROUP TABS-->
  <div class="nav-content " *ngIf="showGroupTabs">
    <div class="row">
      <div class="col s12">
        <ul class="tabs tabs-transparent" materialize="tabs">
          <li class="tab col s6"><a  [ngClass]="dashboardTab()" [routerLink]="navService.groupDashboardUri(groupId)" routerLinkActive="active">Dashboard</a></li>
          <li class="tab col s6"><a  [ngClass]="transactionsTab()" [routerLink]="navService.groupTransactionsUri(groupId)" routerLinkActive="active">Transactions</a></li>
          <!--<li class="tab col s4"><a [ngClass]="settingsTab()" [routerLink]="navService.groupSettingsUri(groupId)" routerLinkActive="active">Settings</a></li>-->
        </ul>
      </div>
    </div>
  </div>

  <!--AUTH TABS-->
  <div class="nav-content" *ngIf="showAuthTabs">
    <div class="row">
      <div class="col s12">
        <ul class="tabs tabs-transparent" materialize="tabs">
          <li class="tab col s6"><a routerLink="/signin" routerLinkActive="active">Log In</a></li>
          <li class="tab col s6"><a routerLink="/signup" routerLinkActive="active">New User</a></li>
        </ul>
      </div>
    </div>
  </div>

  <div
    class="nav-content"
    *ngIf="routeName === 'groups'"
  >
    <div class="row">
      <div class="col s12 left-align">
        <h5>Groups</h5>
        <a (click)="onClickRenewGroups()" class="btn-floating btn-large halfway-fab waves-effect waves-light blue">
          <i class="material-icons">autorenew</i>
        </a>

      </div>

    </div>
  </div>
</nav>

<!--<nav *ngIf="routeName === 'users'">-->
  <!--<div class="teal nav-wrapper">-->
    <!--<form>-->
      <!--<div class="input-field">-->
        <!--<input id="search" type="search" required>-->
        <!--<label class="label-icon" for="search"><i class="material-icons">search</i></label>-->
        <!--<i class="material-icons">close</i>-->
      <!--</div>-->
    <!--</form>-->
  <!--</div>-->
<!--</nav>-->

<!--SIDE NAV-->
<ul id="slide-out" class="side-nav" *ngIf="currentUser()">
  <li>
    <div class="user-view" style="background-color: teal">

      <!--<div class="background">-->
      <!--<img src="images/office.jpg">-->
      <!--</div>-->
      <a ><img class="circle" src="assets/images/user.png"></a>
      <a ><span class="white-text name">{{currentUser().name}}</span></a>
      <a ><span class="white-text email">{{currentUser().email}}</span></a>
    </div>
  </li>
  <li><a ><i class="material-icons">settings</i>Settings (not working)</a></li>
  <!--<li><a href="#!">Second Link</a></li>-->
  <li><div class="divider"></div></li>
  <li><a class="subheader"> </a></li>
  <!--<li><a class="waves-effect" href="#!">Third Link With Waves</a></li>-->
  <li><a (click)="onClickLogout()" ><i class="material-icons">power_settings_new</i>Logout</a></li>
</ul>

