
<!--<div class="row">-->
<!--<div class="col-12">-->


<!--MAIN PANEL-->
<div class="card">
  <div class="card-content">

    <ul class="collection black-text row">

      <li class="collection-item">

        {{group.name}}

        <!-- Dropdown Trigger -->
        <a materialize="dropdown"
           class='secondary-content'
           href='#' data-activates= "gName"
           (click)="openModal2('groupUpdate', null)"
        >
          <i class="material-icons">mode_edit</i>
        </a>
      </li>
    </ul>


  </div>
</div>


<br>
<!--- --MEMBERS-- -->
<div class="card">
  <div class="card-content">
    <h5 class="card-title">Participants</h5>

    <ul class="collection black-text row">

      <li
        *ngFor="let member of group.members; let i=index"
        class="collection-item"
      >

        {{member.name}}

        <!-- Dropdown Trigger -->
        <a materialize="dropdown"
           class='dropdown-button secondary-content'
           href='#'
           [attr.data-activates]= "i"
        >
          <i class="material-icons">more_vert</i>
        </a>



      </li>
    </ul>

    <br>
    <!--NEW MEMBER-->
    <form #f2="ngForm">
      <div class="row">
        <div class="col s8">
          <input type="text" class="input-field"
                 placeholder="Enter new participant"
                 name="newMemberName"
                 ngModel>
        </div>

        <div class="col s4 right-align">
          <button
            class="btn btn-small waves-effect waves-light green"
            type="submit" (click)="onClickAddMember(f2)"

          >
            add
          </button>
        </div>
      </div>
    </form>


  </div>
</div>

<br>

<hr>
<!--DELETE GROUP BUTTON-->
<div class="row" *ngIf="isCurrentUser(group.creator)">
  <div class="col s12">
    <a class="waves-effect waves-light btn-large red right" (click)="openModal()">
      <i class="material-icons left">delete_forever</i>
      delete group
    </a>
  </div>
</div>

<!--LEAVE GROUP BUTTON-->
<div class="row" *ngIf="!isCurrentUser(group.creator)">
  <div class="col s12">
    <a class="waves-effect waves-light btn-large red right" (click)="openModal()">
      <!--<i class="material-icons left">delete_forever</i>-->
      LEAVE GROUP
    </a>
  </div>
</div>

<!--DELETE/LEAVE GROUP CONFIRMATION MODAL-->
<div id="modal1"
     class="modal"
     materialize="modal"
     [materializeParams]="[{dismissible: false}]"
     [materializeActions]="modalActions">

  <!--CREATOR-->
  <div *ngIf="isCurrentUser(group.creator)">
    <div class="modal-content">
      <h4>Delete Group</h4>
      <p>{{messagesDict.deleteGroup}}</p>
    </div>
    <div class="modal-footer">
      <a class="waves-effect waves-green btn" (click)="closeModal()">
        cancel
      </a>
      <a class="modal-action modal-close waves-effect waves-green btn red" (click)="onClickDeleteGroup()">
        Delete
      </a>
    </div>
  </div>

  <!--NOT CREATOR-->
  <div *ngIf="!isCurrentUser(group.creator)">
    <div class="modal-content">
      <h4>Leave Group</h4>
      <p>{{messagesDict.leaveGroup}}</p>
    </div>
    <div class="modal-footer">
      <a class="waves-effect waves-green btn" (click)="closeModal()">
        cancel
      </a>
      <a class="modal-action modal-close waves-effect waves-green btn red"
         (click)="onClickLeaveGroup()"
      >
        Leave
      </a>
    </div>
  </div>

</div>

<!--EDIT MEMBER MODAL-->
<div id="modal2"
     class="modal"
     materialize="modal"
     [materializeParams]="[{dismissible: false, inDuration: 0, outDuration: 0}]"
     [materializeActions]="modalActions2">

  <form #f="ngForm">
    <div class="modal-content">

      <h5 *ngIf="nameUpdateMode==='memberUpdate'">Edit Member Name</h5>
      <h5 *ngIf="nameUpdateMode==='groupUpdate'">Edit Group Name</h5>
      <br>

      <div class="row">
        <div class="col s12">
          <div class="input-field">
            <input materialize id="name"
                   type="text" name="memberName"
                   class="validate" [(ngModel)]="nameToUpdate">
          </div>
        </div>
      </div>
    </div>

    <div class="modal-footer">

      <button
        type="button"
        class="btn waves-effect waves-light btn-flat teal-text"
        (click)="closeModal2()"
      >Close</button>

      <button
        *ngIf="nameUpdateMode==='memberUpdate'"
        type="submit"
        class="btn waves-effect waves-light btn-flat teal-text"
        (click)="onClickUpdateMember2(f)"
        [disabled]="nameToUpdate === '' || this.group.memberNameExist(nameToUpdate)"
      >Update</button>

      <button
        *ngIf="nameUpdateMode==='groupUpdate'"
        type="submit"
        class="btn waves-effect waves-light btn-flat teal-text"
        (click)="onClickUpdateGroup()"
        [disabled]="nameToUpdate === ''"
      >Update</button>


    </div>
  </form>
</div>


<!-- Dropdown Structure -->
<!--<ul id="SFAF" class='dropdown-content' style="z-index: 4">-->
  <!--<li><a (click)="openModal2('memberUpdate', member)">edit</a></li>-->
  <!--<li class="divider"></li>-->
  <!--<li><a (click)="onClickDeleteMember(i, member)">delete</a></li>-->
<!--</ul>-->
