.notification{
  position: fixed;
  top: 10em;
  right: 10em;
}


.btn-small {
  /*width: 80px;*/
  /*text-align: justify;*/
  color: white;
  border: none;
  border-radius: 2px;
  display: inline-block;
  height: 32px;
  line-height: 32px;
  padding-left: 16px;
  padding-right: 16px;
  text-transform: uppercase;
  max-font-size: 13pt;
  vertical-align: middle;
  -webkit-tap-highlight-color: transparent;

}

.collection {
  overflow: visible;
  border: none;
}

.collection-item {
  border: none;
  width: 80%;
  padding-right: 0 !important;
}


