.btn-floating.right-border {
  position: absolute;
  right: -19px;
  top: 90px;
}

.btn-floating.left-border {
  position: absolute;
  left: -17px;
  top: 100px;
}




/*------------members list------------*/
.collection {
  border: none;
}

.collection .collection-item.avatar-custom {
  min-height: 40px;
  padding-left: 72px;
  position: relative;
}

.collection .collection-item.active {
  background-color: #009688;
}

.collection {
  border: none;
}


.collection .collection-item.avatar:not(.circle-clipper) > .circle,
.collection .collection-item.avatar :not(.circle-clipper) > .circle {
  width: 22px;
  height: 22px;
}

.collection .collection-item.avatar i.circle {
  font-size: 14px;
  line-height: 20px;
  /*color: #fff;*/
  /*background-color: #999;*/
  /*text-align: center;*/
}
/*------------------------*/

.clear-btn {
  height: 18px;
  width: 18px;

  line-height: 1px !important;
  padding: 0 0.rem;
  font-size: 1.2;
}


.btn-floating i {
  line-height: 20px;
}

.tabs .tab a{
  color: teal;
} /*Black color to the text*/

.tabs .indicator {
  position: absolute;
  bottom: 0;
  height: 2px;
  background-color: teal;
  will-change: left, right;
}

/*.tabs .tab.disabled a,*/
/*.tabs .tab.disabled a:hover {*/
  /*color: grey;*/
/*}*/

/*.tabs .tab.disabled a{*/
/*color: green;*/
/*cursor: default;*/
/*}*/

.roundbutton{
  display:block;
  height: 20px;
  width: 20px;
  border-radius: 50%;
  border: 1px solid red;

}



/*.btn-floating.btn-small {*/
/*height: 20px;*/
/*width: 20px;*/
/*line-height: 20px;*/
/*font-size: 1.6rem;*/
/**/
/*}*/

