<br>

<!-------------------------TRANSFER FORM------------------------->
<div *ngIf="members.length && transaction.type === 'give'">

  <h4>Money Transfer</h4>
  <br>
  <form #f="ngForm" >

    <div class="row">
      <div class="input-field col s6">

        <select name="fromSelection" materialize="material_select" [(ngModel)]="fromTransfer">
          <option value="" disabled selected>Choose</option>
          <option *ngFor="let member of members" [value]="member.id">{{member.name}}</option>
        </select>
        <label>From</label>
      </div>
      <div class="input-field col s6">
        <select name="toSelection" materialize="material_select" [(ngModel)]="toTransfer">
          <option value="" disabled selected>Choose</option>
          <option *ngFor="let member of members" [value]="member.id">{{member.name}}</option>
        </select>
        <label>To</label>
      </div>

    </div>

    <div class="row">
      <div class="input-field col s6">
        <input
          type="number"
          name="amount"
          id="amount"
          required materialize
          placeholder="0 euros"
          [(ngModel)]="amountTransfer"
        >
        <label for="amount"> Amount </label>
      </div>
    </div>


  </form>
</div>


<!-------------------------------------------------------------->



<!--MODAL - DELETE TRANSACTION -->
<div id="modal1"
     class="modal"
     materialize="modal"
     [materializeParams]="[{dismissible: true}]"
     [materializeActions]="modalActions">
  <div class="modal-content">
    <h4>Delete Transaction</h4>
    <p>{{messagesDict.deleteTrans}}</p>
  </div>

  <div class="modal-footer">
    <a class="waves-effect waves-light btn-flat" (click)="closeModal()">
      close
    </a>
    <a class="modal-action modal-close waves-effect waves-green btn red" (click)="onClickDeleteGroup()">
      Delete
    </a>
  </div>
</div>


<!-------------------- TABS ------------------------>
<ng-container *ngIf="members.length && transaction.type === 'general'">
  <div class="row">
    <div class="col s12">
      <ul class="tabs" materialize="tabs" [materializeParams]="[{swipeable: false}]" >
        <li class="tab col s4">
          <a class="waves-effect waves-teal"
             (click)="currentPage = 1"
             [ngClass]="{'true': 'active', 'false': ''}[(currentPage === 1).toString()]"
             href="#test1">Step 1</a></li>
        <li class="tab col s4">
          <a class="waves-effect waves-teal"
             (click)="currentPage = 1"
             [ngClass]="{'true': 'active', 'false': ''}[(currentPage === 2).toString()]"
             href="#test2">Step 2</a></li>
        <li class="tab col s4" [ngClass]="{'true': 'disabled', 'false': ''}[equalCost.toString()]">
          <a class="waves-effect waves-teal"
             (click)="currentPage = 1"
             [ngClass]="{'true': 'active', 'false': ''}[(currentPage === 3).toString()]  + {'true': ' grey-text', 'false': ''}[equalCost.toString()]"
             href="#test3">Step 3</a></li>
      </ul>
    </div>
    <br>

    <div id="test1" class="col s12">
      <div class="card">
        <div class="card-content">

        <span class="grey-text"
              *ngIf="transactionIsValid() === 1"
        > Select at least one participant.
      </span>
          <br>
          <!--<ul class="collection with-header">-->
            <!--&lt;!&ndash;<a class="collection-header"><h4>First Names</h4></a>&ndash;&gt;-->

            <!--<li-->
              <!--class="collection-item"-->
              <!--[ngClass]="{'active': payment.checked}"-->
              <!--(click)="togglePayment(i)"-->
              <!--*ngFor="let payment of payments;let i=index"-->
            <!--&gt;-->
              <!--<div>{{getMemberById(payment.member).name}}-->
                <!--<a class="secondary-content"-->
                   <!--*ngIf="payment.checked">-->
                  <!--<i class="material-icons">check_circle</i>-->
                <!--</a>-->
              <!--</div>-->
              <!---->
            <!--</li>-->
          <!--</ul>-->

          <ul class="collection">
            <a
              *ngFor="let payment of payments;let i=index"
              (click)="togglePayment(i)"
              [ngClass]="{'active': payment.checked}"
              class="collection-item avatar avatar-custom">
              <i class="material-icons circle circle-custom" *ngIf="payment.checked">done</i>
              <i class="material-icons circle circle-custom" *ngIf="!payment.checked"></i>
              <span class="title">{{getMemberById(payment.member).name}}</span>
            </a>
          </ul>
        </div>
      </div>


    </div>

    <div id="test2" class="col s12">

      <div class="card">
        <div class="card-content">

          <ng-container *ngIf="getCheckedPayments().length == 0">
          <span class="grey-text">
            Select at least one participant at step one.
          </span>
          </ng-container>
          <ng-container *ngIf="getCheckedPayments().length > 0">
          <span class="grey-text"
                *ngIf="transactionIsValid() === 2"
          > Insert payment to at least one participant.
      </span>

            <div class="row" *ngFor="let payment of getCheckedPayments();let i=index">

              <div class="input-field col s5 center-align">
                <button
                  style="padding: 0 0.5rem"

                  type="button"
                  [ngClass]="{false: 'btn teal', true: 'btn grey'}[payment.amount === null || payment.amount === 0]"

                >
                  {{getMemberById(payment.member).name}}
                </button>
              </div>


              <div class="col s5 left-align" style="padding-right: 0">
                <input
                  type="number"
                  placeholder="0 euros"
                  class="center-align"
                  (input)="onAmountChange()"
                  [(ngModel)]="payment.amount"
                >
              </div>


              <div class="input-field col s2 left-align"
                   *ngIf="payment.amount"
                   style="padding-left: 0">


                <button class="btn-floating clear-btn grey lighten-1">
                  <i
                    (click)="onCickClearAmount(payment)"
                    class="material-icons" style="font-size: 15px">clear</i>
                </button>



              </div>

              <!--<div class="input-field col s2 right-align">-->
              <!--<i-->

              <!--(click)="unCheckPayment(i)"-->
              <!--class="material-icons">delete</i>-->
              <!--</div>-->


            </div>

            <!-- Switch -->

            <div class="row">
              <div class="col s6">
                Everyone has to pay the same.
              </div>

              <div class="col s6">
                <div class="switch" >
                  <label>
                    No

                    <input
                      [disabled]="amountPaymentsSum() == 0"
                      (change)="onCheckChange()"
                      type="checkbox" [(ngModel)]="equalCost">
                    <span class="lever"></span>
                    Yes
                  </label>
                </div>
              </div>
            </div>
          </ng-container>

        </div>
      </div>
    </div>

    <div id="test3" class="col s12">
      <div class="card">
        <div class="card-content">

          <ng-container *ngIf="amountPaymentsSum() == 0">
          <span class="grey-text">
            Insert payments at step 2.
          </span>
          </ng-container>

          <ng-container *ngIf="amountPaymentsSum() > 0">
            <div
              class="row col s12 form-text red-text"
              style="font: inherit"
              *ngIf="transactionIsValid() === 3"
            > Costs are greater than total payments!</div>


            <div class="row" *ngFor="let payment of getCheckedPayments();let i=index">


              <div class="col s5 center-align input-field">

                <button
                  type="button"
                  style="padding: 0 0.5rem"
                  [ngClass]="{false: 'btn teal', true: 'btn grey'}[payment.debt === null ]"
                  (click)="payment.debt = null"
                >
                  {{getMemberById(payment.member).name}}
                </button>
              </div>

              <div class="col s5 left-align"
                   style="padding-right: 0">
                <input
                  type="number"
                  placeholder="AUTO"
                  class="input-field center-align"
                  (input)="onDebtChange()"
                  [(ngModel)]="payment.debt"
                >

              </div>

              <div class="input-field col s2 left-align"
                   style="padding-left: 0">
                <button class="btn-floating clear-btn grey lighten-1">
                  <i
                    (click)="onCickClearDebt(payment)"
                    class="material-icons" style="font-size: 15px">clear</i>
                </button>
              </div>



            </div>
          </ng-container>

        </div>
      </div>

    </div>
  </div>

</ng-container>


