<br>
<!--<div class="row">-->

  <!--<div class="col-xs">-->
    <form (ngSubmit)="onSigin(f)" #f="ngForm">

      <div class="input-field">

        <input type="email"
               class="validate"
               id="email"
               name="email"
               required
               materialize
               #email="ngModel"
               email
               ngModel>
        <label materialize for="email" data-error="Insert a valid email">Email</label>
        <!--<span class="form-text text-muted red-text" *ngIf="!email.valid && email.touched"> Insert a valid email!</span>-->
      </div>

      <div class="input-field">

        <input type="password"
               id="password"
               class="validate"
               name="password"
               required
               #password="ngModel"
               ngModel>
        <label materialize for="password" data-error="Cant be blank">Password</label>
        <!--<span class="form-text text-muted" *ngIf="!password.valid && password.touched"> Password can not be blank!</span>-->
      </div>
      <span class="form-text red-text" style="font: inherit" *ngIf="status==='wrongCredentials'"> Wrong email or password.</span>

      <br>

      <div class="row">
        <div class="col s8 left-align">
          <a class="btn btn-large waves-effect white grey-text z-depth-0"
                  href="api/users/forgot"
          >FORGOT PASSWORD</a>
        </div>

        <div class="col s4 right-align">
          <button class="btn btn-large waves-effect waves-light"
                  type="submit"
                  [disabled]="!f.valid"
          >Log In</button>
        </div>
      </div>


    </form>


<!--</div>-->
<!--</div>-->


