<br>
<!--<div class="row">-->

  <!--<div class="col-xs">-->
    <form (ngSubmit)="onSigin(f)" #f="ngForm">

      <div class="input-field">
        <label for="email">Email</label>
        <input type="email"
               id="email"
               name="email"
               required
               #email="ngModel"
               email
               ngModel>
        <span class="form-text text-muted" *ngIf="!email.valid && email.touched"> Please insert a valid email!</span>
      </div>


      <div class="input-field">
        <label for="password">Password</label>
        <input type="password"
               id="password"
               name="password"
               required
               #password="ngModel"
               ngModel>
        <span class="form-text text-muted" *ngIf="!password.valid && password.touched"> Password can not be blank!</span>
      </div>




      <br>
      <div class="col s12">
        <button class="btn btn-large waves-effect waves-light"
                type="submit"
                [disabled]="!f.valid"
        >Log In</button>
      </div>

    </form>


<!--</div>-->
<!--</div>-->


