
<!--<app-new-transaction-btn></app-new-transaction-btn>-->



<h5 class="center-align" *ngIf="neg.length === 0"> There are no Debts!!!</h5>


<ul
  materialize="collapsible"
  class="collapsible popout"
  data-collapsible="accordion"
  [materializeParams]="params"
  [materializeActions]="actions1"
>

  <li *ngFor="let m of dashboard.neg;let i=index;" [id]="i">
    <div class="collapsible-header"
    [ngClass]="{'active': group.getCurrentMember().id === m.memberId}"
    >


      <div class="col s12 center-align">

        <div >

          <ng-container *ngIf="group.getCurrentMember().id === m.memberId">
            <b>YOU</b> OWE
          </ng-container>

          <ng-container *ngIf="group.getCurrentMember().id !== m.memberId">
            {{group.getMemberById(m.memberId).name}} OWES
          </ng-container>


        </div>

        <h6 class="red-text">
          {{m.debtToShow | number}}€
        </h6>


      </div>

    </div>


    <div class="collapsible-body" style="padding-bottom: 2px">

      <div >
        <h6
          class="center-align"
        >Select users to pay money back!</h6>

        <div class="row">
          <form class="center-align">
            <p *ngFor="let p of m.options;">
              <input

                type="checkbox"
                [id]="m.memberId+p.memberId"
                [name]="m.memberId+p.memberId"
                (click)="onClickChecked(m, p)"
                [checked]="p.checked"
                [disabled]="p.debtToShow === 0"
              />

              <label [for]="m.memberId+p.memberId"
                     style="left: 33%"

              >{{group.getMemberById(p.memberId).name}}: <b>{{p.debtToShow | number}}€</b></label>
            </p>
          </form>
        </div>

        <div class="row">
          <div class="col s12 right-align">
            <button
              [disabled]="m.debt === m.debtToShow"
              class="btn waves-effect waves-light"
              (click)="onClickDone(i)"
            >
              DONE
            </button>
          </div>
        </div>


      </div>


    </div>
  </li>

  <!--<hr>-->
  <!--<h5 class="center-align">The Need Money</h5>-->
  <!--<hr>-->
  <li
    *ngFor="let m of pos"
  >

    <div class="collapsible-header">


      <div class="col s12 center-align">

        <div>
          <ng-container *ngIf="group.getCurrentMember().id === m.memberId">
            <b>YOU</b> NEED
          </ng-container>

          <ng-container *ngIf="group.getCurrentMember().id !== m.memberId">
            {{group.getMemberById(m.memberId).name}} NEEDS
          </ng-container>

        </div>

        <h6 class="green-text">
          {{m.debt | number}}€
        </h6>


      </div>

    </div>


    <!--<div class="collapsible-body">-->


    <!--</div>-->
  </li>



</ul>


