


<!--SEARCH AND BUTTONS-->
<!--//add todo: container-->


<br>





<!----------------------->

<!--EMPTY TRANSACTION LIST MESSAGE-->
<div *ngIf="!group.transactions.length">
  <br>
  <br>
  <div class="row">
    <div class="col s12">
      <h5> There are no transactions yet!</h5>
    </div>
  </div>
</div>




<!--------FILTERS------------>
<ul materialize="collapsible"
    *ngIf="group.transactions.length"
    class="collapsible"
    data-collapsible="accordion"
    [materializeParams]="params"
    [materializeActions]="actions1"
>
  <li>
    <div class="collapsible-header">
      <i class="material-icons">filter_list</i>Filter
    </div>

    <div class="collapsible-body">
      <div class="row">
        <!--SEARCH TEXT BOX-->
        <div class="input-field col s6">
          <input (input)="filterTransactions()"
                 [(ngModel)] ="searchKey"
                 type="text"
                 placeholder="Search for...">
        </div>
      </div>

      <!--SELECT MEMBERS-->
      <div class="row">
        <div class="input-field col s10">
          <select
            name="multiSelect"
            (change)="filterTransactions()"
            [(ngModel)]="selectedMembers"
            multiple materialize="material_select"
            [materializeSelectOptions]="group.members" >
            <option value="" disabled selected>Choose members</option>
            <option *ngFor="let option of group.members"
                    [value]="option.id"
            >{{option.name}}</option>
          </select>
          <label></label>
        </div>
      </div>


      <div class="row">
        <div class="col s12 right-align">
          <a class="waves-effect waves-light btn" (click)="onClickResetFilters()">reset</a>
        </div>
      </div>

    </div>
  </li>

</ul>

<!--TRANSACTION LIST-->
<div class="collection" *ngIf="group.transactions.length">

  <a class="collection-item avatar avatar-custom"
     routerLink="/groups/{{group.id}}/transactions/{{transaction.id}}"
     *ngFor="let transaction of searched_transactions"
  >
    <i *ngIf="transaction.type === 'give'" class="material-icons circle red">trending_flat</i>
    <i *ngIf="transaction.type === 'general'" class="material-icons circle blue">swap_horiz</i>


    <div class="title">
      {{transaction.name}}
      <span *ngIf="transaction.type === 'give'">
        {{getFromNameTransfer(transaction.payments)}}
        -> {{getToNameTransfer(transaction.payments)}}
      </span>
    </div>

    <small>{{transaction.createdAt |date:'E, dd LLL yyyy HH:mm':'gr'}}</small>
    <a class="secondary-content">{{transaction.calcTotalAmount()}} euro</a>

  </a>
</div>




<!--ADD BUTTON-->
<div class="fixed-action-btn vertical click-to-toggle">
  <a class="btn-floating btn-large green">
    <i class="material-icons">add</i>
  </a>
  <ul>
    <li>
      <a href="#modal2" id="test"(click)="openModal(2)" class="btn-floating red modal-trigger"><i class="material-icons">trending_flat</i></a>
      <a class="btn-floating mobile-fab-tip">Transfer</a> <!--tooltip-->
    </li>
    <li>
      <a href="#modal1" (click)="openModal(1)" class="btn-floating blue modal-trigger"><i class="material-icons">swap_horiz</i></a>
      <a class="btn-floating mobile-fab-tip">Transaction</a> <!--tooltip-->
    </li>

  </ul>
</div>



<!-- TRANSACTION MODAL -->
<div id="modal1"
     class="modal"
     materialize="modal"
     [materializeParams]="[{dismissible: true}]"
     [materializeActions]="modalActions1"
>
  <div class="modal-content">
    <h4>New Transaction</h4>

    <form  [formGroup]="myForm">

      <div class="row">
        <div class="col s9">
          <div class="input-field">
            <input id="name" type="text" class="validate" formControlName="name">
            <label for="name" >Name</label>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col">
          <button
            type="button"
            class="btn waves-effect waves-light green"
            (click)="onClickCreateTransaction(1)"
            [disabled]="this.myForm.get('name').value === ''"
          >Create</button>
        </div>
        <div class="col">
          <button
            type="button"
            class="btn waves-effect waves-light"
            (click)="closeModal(1)"
          >Close</button>
        </div>
      </div>

    </form>

  </div>
</div>

<!--TRANSFER MODAL-->
<div id="modal2"
     class="modal"
     materialize="modal"
     [materializeParams]="[{dismissible: true}]"
     [materializeActions]="modalActions2"
>
  <div class="modal-content center-align">
    <h4 >New Transfer</h4>
    <p>You are going to create a new money transfer!</p>


    <div class="row">
      <div class="col">
        <button
          type="button"
          class="btn waves-effect waves-light green"
          (click)="onClickCreateTransaction(2)"
        >Create</button>
      </div>
      <div class="col">
        <button
          type="button"
          class="btn waves-effect waves-light"
          (click)="closeModal(2)"
        >Close</button>
      </div>
    </div>


  </div>
</div>
