.mobile-fab-tip {
  position: fixed;
  right: 85px;
  padding:0px 0.5rem;
  text-align: right;
  background-color: #323232;
  border-radius: 2px;
  color: #FFF;
  width:auto;
}



.collection .collection-item.avatar-custom {
  min-height: 60px;
  padding-left: 72px;
  position: relative;
}

.collection {
  border: none;
}


/*.input-field .postfix ~ input { width: 80%; width:calc(100% - 3rem);  margin-left:0px; margin-right: 3rem!important; }*/
.input-field .postfix {
  position: absolute;
  width: 3rem;
  right: 0px;
  font-size: 2rem;
  -webkit-transition: color .2s;
  transition: color .2s;
}
.input-field .postfix.active {
  color: #26a69a;
}
