<form (ngSubmit)="onSignup(f)" #f="ngForm" >

  <div class="input-field">

    <input type="text" id="name" name="name" class="validate" required ngModel>
    <label materialize for="name" data-error="Can't be blank">Name</label>
  </div>

  <div class="input-field">
    <input class="validate" type="text" id="email" name="email" materialize required email ngModel>
    <label materialize for="email" data-error="Insert a valid email">Mail</label>
  </div>


  <div class="input-field">

    <input class="validate" type="password" id="password" name="password" materialize required ngModel>
    <label for="password" data-error="Can't be blank">Password</label>

  </div>


  <div class="col s12">
    <button class="btn btn-large waves-effect waves-light" type="submit">Sign Up</button>
  </div>

</form>

