<form (ngSubmit)="onSignup(f)" #f="ngForm" >

  <div class="input-field">
    <label for="name">Name</label>
    <input type="text" id="name" name="name" ngModel>
  </div>

  <div class="input-field">
    <label for="email">Mail</label>
    <input type="text" id="email" name="email" materialize ngModel>
  </div>

  <div class="input-field">
    <label for="password">Password</label>
    <input type="password" id="password" name="password" materialize ngModel>
  </div>


  <div class="col s12">
    <button class="btn btn-large waves-effect waves-light" type="submit">Sign Up</button>
  </div>

</form>

