<app-header></app-header>

<!--<div *ngIf="showSpinner" class="loading">Loading&#8230;</div>-->

<div class="container" style="max-width: 600px">
  <router-outlet></router-outlet>
</div>




<div *ngIf="showSpinner" class="preloader-background">
  <div class="preloader-wrapper big active">
    <div class="spinner-layer spinner-blue-only">
      <div class="circle-clipper left">
        <div class="circle"></div>
      </div><div class="gap-patch">
      <div class="circle"></div>
    </div><div class="circle-clipper right">
      <div class="circle"></div>
    </div>
    </div>
  </div>
</div>
