

<!--1. πληρώνει και δεν πληρώνει        ->  αναμένο όνομα, manual 0-->
<!--2. πληρώνει και πληρώνει auto       ->  αναμένο όνομα, αναμένο auto-->
<!--3. πληρώνει και πληρώνει manual     ->  αναμένο όνομα, manula τιμή-->

<!--4. δεν πληρώνει και δεν πληρώνει    ->  σβησμένο όνομα, σβησμένο manual/auto-->
<!--5. δεν πληρώνει και πληρώνει manual ->  αναμένο  όνομα, αναμενο manual-->
<!--6. δεν πληρώνει και πληρώνει αυτο   ->  αναμένο όνομα, αναμένο auto-->
<br>




<div class="container" *ngIf="members.length === 0">
  <div class="row">
    <div class="col s12">
      <h5> You need to add members first!</h5>
    </div>
    <div class="row">
      <div class="col s12">
        <button class="btn btn-success" [routerLink]="navService.groupSettingsUri(groupId)">Add Now</button>

      </div>
    </div>
  </div>
</div>



<form
  *ngIf="members.length && transaction.type === 'general'"
  class="form-group"
  [formGroup]="myForm"
>

    <div class="row">
      <div class="col s6">
        <div class="input-field left">
          <!--<i class="material-icons prefix">account_circle</i>-->
          <label for="name">Group Name</label>
          <input
            materialize
            id="name"
            type="text"
            class="left-align regular"
            formControlName="name"
            required
          >
        </div>
      </div>

      <div class="col s6">
        <p class="flow-text right-align">Total: <b>{{this.paymentsTotal}}</b></p>
      </div>

    </div>

  <div *ngIf="myForm.invalid" class="alert alert-danger text-center" role="alert">
    <div class="row">
      <div class="col s12 m6">
        <div class="card red">
          <div class="card-content white-text">
            <!--<span class="card-title">Card Title</span>-->
            <p>Debts are more than payments!!!!</p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!--FormArray-->
  <table>
    <thead>
    <tr>
      <th>Name</th>
      <th>Amount</th>
      <th>Mode</th>
      <th>Debts</th>
    </tr>
    </thead>
  </table>

  <div formArrayName="payments">

    <div *ngFor="let payment of getPaymentsFormArray();let i=index"
         [formGroupName]="i"
    >

      <div class="row">
        <div class="input-field col s3">
          <button
            type="button"
            type="button"
            (click)="toggleGroupDisable(payment)"
            [ngClass]="{true: 'btn btn-small center-align nameWidth waves-effect waves-light ', false: 'btn btn-small waves-effect waves-light grey lighten-1'}[payment.enabled]"
          >{{getMemberById(payment.value.member).name}}
          </button>
        </div>

        <div class="input-field col s3">
          <!--<i class="material-icons prefix">account_circle</i>-->
          <input
            #needFocus
            placeholder="0 euros"
            type="number"
            class="validate center-align"
            formControlName="amount"
            (click)="enableAmount(payment, needFocus)"
          >
        </div>

        <div class="input-field col s3">
          <button
            type="button"
            name="action"
            (click)="onClickAutoManual(payment)"
            [class.disabled]="payment.get('auto').disabled"
            [ngClass]="{true: 'btn btn-small waves-effect waves-light autoWidth grey darken-2', false: 'btn btn-small waves-effect waves-light autoWidth blue'}[payment.get('auto').value]"
            btnCheckbox
            formControlName="auto">
            {{{true: 'Auto', false: 'Fixed'}[payment.get('auto').value]}}</button>
        </div>

        <div class="input-field col s3">
          <!--<i class="material-icons prefix">account_circle</i>-->
          <input
            type="number"
            class="validate center-align"
            placeholder="0 euros"
            formControlName="debt"/>
        </div>
      </div>

    </div>

  </div>
  <br>

  <div class="row">
    <!--<div class="col s8"></div>-->
    <div class="col s12 right-align">
      <button
        class="btn-large waves-effect waves-light green"
        (click)="onClickSave()"
        [disabled]="myForm.invalid"
      >Save</button>
    </div>
  </div>

</form>


<!-------------------------TRANSFER FORM------------------------->
<div *ngIf="members.length && transaction.type === 'give'">

  <h4>Money Transfer</h4>
  <br>
  <form (ngSubmit)="onClickTransferSave(f)" #f="ngForm">

    <div class="row">
      <div class="input-field col s6">
        <select name="fromSelection" materialize="material_select" [(ngModel)]="fromTransfer">
          <option value="" disabled selected>Choose</option>
          <option *ngFor="let member of members" [value]="member.id">{{member.name}}</option>
        </select>
        <label>From</label>
      </div>
      <div class="input-field col s6">
        <select name="toSelection" materialize="material_select" [(ngModel)]="toTransfer">
          <option value="" disabled selected>Choose</option>
          <option *ngFor="let member of members" [value]="member.id">{{member.name}}</option>
        </select>
        <label>To</label>
      </div>

    </div>

    <div class="row">
      <div class="input-field col s6">
        <input type="number" name="amount" id="amount" required materialize placeholder="0 euros" [(ngModel)]="amountTransfer">
        <label for="amount"> Amount </label>
      </div>


      <div class="input-field col s6 right-align">
        <button
          type="submit"
          class="btn-large waves-effect waves-light green"
          [disabled]="f.value.fromSelection === f.value.toSelection || f.invalid || f.value.amount <= 0"
        >Save</button>
      </div>

    </div>


  </form>
</div>



<!-------------------------------------------------------------->
<br>
<br>
<hr>

<!--DELETE BUTTON-->
<div class="row">
  <div class="col s12">
    <a class="waves-effect waves-light btn red right" (click)="openModal()">
      <i class="material-icons left">delete_forever</i>
      delete
    </a>
  </div>

</div>


<!--MODAL-->
<div id="modal1"
     class="modal bottom-sheet"
     materialize="modal"
     [materializeParams]="[{dismissible: false}]"
     [materializeActions]="modalActions">
  <div class="modal-content">
    <h4>Delete Transaction</h4>
    <p>{{messagesDict.deleteTrans}}</p>
  </div>
  <div class="modal-footer">
    <a class="waves-effect waves-green btn" (click)="closeModal()">
      cancel
    </a>
    <a class="modal-action modal-close waves-effect waves-green btn red" (click)="onClickDeleteGroup()">
      Delete
    </a>
  </div>
</div>



