/* You can add global styles to this file, and also import other style files */


/*Material Design Angular Theme*/
@import "~@angular/material/prebuilt-themes/indigo-pink.css";


.btn-small {
  /*width: 80px;*/
  /*text-align: justify;*/
  color: white;
  border: none;
  border-radius: 2px;
  display: inline-block;
  height: 32px;
  line-height: 32px;
  padding-left: 16px;
  padding-right: 16px;
  text-transform: uppercase;
  max-font-size: 13pt;
  vertical-align: middle;
  -webkit-tap-highlight-color: transparent;
}


/*.carousel {*/
  /*height: 800px;*/
/*}*/

/*.carousel .carousel-item {*/
  /*height: 100%;*/
/*}*/

i.icon-teal {
  color: teal;
}

.tabs .indicator {
  background-color: teal;
}


